<div class="row-cols-auto top-buffer-20 text-center">
    <button type="button" class="btn grad text-dark" (click)="goToAdvertisementFormPage()">Make advertisement</button>
</div>
<div class="row top-buffer-20">
    <div *ngFor="let advertisement of advertisements" class="col-xxl-3 col-lg-6 col-12">
        <figure (click)="getUrl(advertisement)" class="border rounded text-center pointer">
            <h3 class="text-muted top-buffer-10"><u>{{advertisement.title}}</u></h3>
        </figure>
    </div>
</div>