<div class="row d-flex justify-content-center top-buffer-20 ">
    <div *ngIf="advertisement" class="col-12 col-xl-8">
        <figure class="border rounded">
            <h1 class="text-center">{{advertisement.title}}</h1>
            <h5 class="text-end text-muted">Published on {{advertisement.startDate}}</h5>
            <p>{{advertisement.description}}</p>
            <a [href]="getAuthorUrl()" class="link-secondary">{{advertisement.name}}</a>
            <p class="mt-2">Author phone number : {{advertisement.authorPhoneNumber}}</p>
            <p>Author email : {{advertisement.authorEmail}}</p>
            <p *ngIf="advertisement.expirationDate">Expiration date: {{advertisement.expirationDate}}</p>
            <p *ngIf="advertisement.address">Address: {{advertisement.address}}</p>
            <agm-map *ngIf="advertisement.address" [latitude]="advertisement.lat" [longitude]="advertisement.lng"
                     [zoom]="zoom">
                <agm-marker [latitude]="advertisement.lat" [longitude]="advertisement.lng"
                            [markerClickable]="true"></agm-marker>
            </agm-map>
        </figure>
    </div>
    <div *ngIf="!advertisement" class="spinner-border" role="status">
        <span class="visually-hidden">Loading...</span>
    </div>
</div>
