/* You can add global styles to this file, and also import other style files */
@import "~bootstrap/dist/css/bootstrap.css";



agm-map {
  height: 350px;
}

.grad {
  background: rgb(191, 228, 181);
  background: linear-gradient(90deg, rgba(191, 228, 181, 1) 34%, rgba(169, 249, 189, 1) 100%);
}

.grad-yellow {
  background: rgb(34,193,195);
  background: linear-gradient(0deg, rgba(34,193,195,1) 0%, rgba(253,187,45,1) 100%);
}

.top-buffer-20 {
  margin-top: 20px;
}

.top-buffer-10 {
  margin-top: 10px;
}

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
